table {
    width:100%;
    min-height: 50px;
    font-size: 0.8em;
    border-spacing: 0px;
    margin-bottom: 100px;
    font-family: Helvetica, sans-serif;
    table-layout: fixed;
}
.normal-navabr {
    width: 40px;
}
.blank-space {
    width: 80%;
}
.glogo {
    text-align: center;
    padding-top: 4em;
}
.search-container {
    text-align: center;
    
}
.search-container input{
    height: 40px;
    width: 600px;
}
.navigation {
    text-align: center;
    margin: 11px 4px;
    border: 1px solid #f2f2f2; 
}
footer .United-Kingdom{
    text-align: left;
    padding: 10px 0 10px 30px;
    
}